services:
  silabs-multiprotocol:
    image: silabs-multiprotocol:latest
    build:
      dockerfile: ./Dockerfile
    restart: unless-stopped
    network_mode: host # required
    devices:
      - "/dev/ttyUSB0:/dev/ttyUSB0"
      - "/dev/net/tun:/dev/net/tun"
      - "/dev/pts/0:/dev/pts/0" # important for zigbeed sockets
      - "/dev/pts/1:/dev/pts/1" # important for zigbeed socketsg
    privileged: true
    cap_add:
      - NET_ADMIN
    volumes:
      - ./otbr_data:/data/thread
      - ./zigbeed_data:/data/zigbeed
    environment:
      SUPERVISOR_API: "http://YOUR_HOMEASSISTANT_URL.local" # set to your local Home Assistant URL
      SUPERVISOR_TOKEN: "ey..." # set to your long-lived access token
      OTBR_ENABLE: "true"
      DEVICE: "/dev/ttyUSB0" # configure dongle serial port
      BAUDRATE: "115200" # configure dongle baud rate
      FLOW_CONTROL: "false" # set to true if dongle needs hardware flow control
      CPCD_TRACE: "false"
      OTBR_WEB_PORT: 9998
      ZIGBEED_PORT: 9999

  matter-server:
    image: ghcr.io/home-assistant-libs/python-matter-server:stable
    container_name: matter-server
    restart: unless-stopped
    network_mode: host
    privileged: true
    security_opt:
      - apparmor:unconfined # needed for bluetooth
    volumes:
      - ./matter_data:/data/
      - /run/dbus:/run/dbus:ro  # needed for bluetooth
    command: --storage-path /data --paa-root-cert-dir /data/credentials --bluetooth-adapter 1 # change bluetooth adapter ID here
